<h1>Current Conditions for... <%= @city %>!!!!</h1>

<!-- <p>Ruby Data:</p> -->
  <p>Today the temp will go up to <%= @data["main"]["temp_max"] %> degrees and down to <%= @data["main"]["temp_min"] %> degrees.</p>
  <p>Right now, it is <%= @data["main"]["temp"] %> degrees outside with humidity of around <%= @data["main"]["humidity"] %>%.</p>

<!-- <p>Raw JSON response:</p> -->
<!-- <p><%= @json_data %></p> -->
